# mqtt client config

# The BROKER is the ip of mqtt server
BROKER = '192.168.*.*'
PORT = 1883 
TOPIC = "/sys/plct/JM121fS3zw466qqW/set"

#CLIENT_ID = 'JM121fS3zw466qqW'
CLIENT_ID = 'debci'
MACHINE_SN = 'debci' 

# mqtt authentication
# filled with passwd for mosquitto
USERNAME = '*'
PASSWORD = '*'

# action reset's time is 10
# action poweroff's time is 40
# action poweron's time is 10
POWERON_TIME = '10'
POWEROFF_TIME= '40'
RESET_TIME = '10' 

