[Unit]
Description=gunicorn daemon
After=network.target
After=syslog.target

[Service]
# user and Group within installing
#User=debian
#Group=debian
WorkingDirectory=/home/debian/mqtt/mqtt-flask
ExecStart=/usr/bin/gunicorn --workers 4 --bind 0.0.0.0:8000 app:app --access-logfile /var/log/webapps/api/log/access.log --error-logfile /var/log/webapps/api/log/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
